// Theme Width.
$themeWidth: 1440px;

// Content Width.
$contentWidth: 880px;
$wideBlockWidth: 1120px;

// Fullwidth Template.
$contentFullwidth: 1280px;
$wideBlockFullwidth: 1440px;

// Theme Colors
$themeColors: (

	// Block Editor Colors
	--primary-color                  : #c9493b,
	--secondary-color                : #e36355,
	--accent-color                   : #078896,
	--highlight-color                : #5bb021,
	--light-gray-color               : #e4e4e4,
	--gray-color                     : #848484,
	--dark-gray-color                : #242424,

	// Text Colors
	--text-color                     : #303030,
	--medium-text-color              : rgba(0, 0, 0, 0.75),
	--light-text-color               : rgba(0, 0, 0, 0.5),
	--dark-border-color              : #303030,
	--medium-border-color            : rgba(0, 0, 0, 0.25),
	--light-border-color             : rgba(0, 0, 0, 0.15),

	// Links and Buttons
	--link-color                     : #33bbcc,
	--link-hover-color               : #303030,
	--button-color                   : #33bbcc,
	--button-text-color              : #fff,
	--button-hover-color             : #303030,
	--button-hover-text-color        : #fff,

	// Page
	--page-background-color          : #fff,
	--site-title-color               : #303030,

	// Header Bar (Pro Version)
	--header-bar-background-color    : #fff,
	--header-bar-text-color          : #303030,
	--header-bar-text-hover-color    : rgba(0, 0, 0, 0.5),
	--header-bar-border-color        : rgba(0, 0, 0, 0.15),
	--top-navi-submenu-color         : #303030,
	--top-navi-submenu-text-color    : #fff,
	--top-navi-submenu-hover-color   : rgba(255, 255, 255, 0.1),
	--top-navi-submenu-border-color  : rgba(255, 255, 255, 0.1),

	// Navigation
	--navi-color                     : #303030,
	--navi-hover-color               : rgba(0, 0, 0, 0.5),
	--navi-submenu-color             : #303030,
	--navi-submenu-text-color        : #fff,
	--navi-submenu-hover-color       : rgba(255, 255, 255, 0.1),
	--navi-submenu-border-color      : rgba(255, 255, 255, 0.1),

	// Titles
	--title-color                    : #303030,
	--widget-title-color             : #303030,

	// Footer
	--footer-text-color              : #303030,
	--footer-text-hover-color        : rgba(0, 0, 0, 0.5),
	--footer-border-color            : rgba(0, 0, 0, 0.15),

);

// Theme Fonts
$baseFont: "Titillium Web", arial, helvetica, sans-serif;
$titleFont: "Amaranth", arial, helvetica, sans-serif;
$themeFonts: (
	--text-font        : $baseFont,
	--title-font       : $titleFont,
	--navi-font        : $baseFont,
	--widget-title-font: $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight: bold,
	--navi-font-weight : normal,
	--widget-title-font-weight: bold,
);

// Text Transform.
$textTransform: (
	--title-text-transform: none,
	--navi-text-transform: none,
	--widget-title-text-transform: none,
);

// Line Height.
$lineHeight: (
	--text-line-height : 1.75,
	--title-line-height : 1.4,
);
