.type-post,
.type-page,
.type-attachment,
.comments-area  {
	margin: 0 0 3em 0;
	padding: 0;
	max-width: 100%;
}

.page-title,
.entry-title {
	margin: 0;
	padding: 0;
	color: #303030;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 36px;
	font-size: 2.25rem;
	font-family: 'Amaranth', Tahoma, Arial;
}

.entry-title a:link,
.entry-title a:visited {
	color: #303030;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	text-decoration: underline;
}

.type-post .wp-post-image,
.type-page .wp-post-image {
	margin: 0 0 0.5em;
}

.entry-content {
	font-size: 18px;
	font-size: 1.125rem;
}

.entry-content a {
	text-decoration: underline;
}

.entry-content p:first-child {
	margin-top: 0.5em;
}

.sticky {
	background: none;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}
