/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.8em;
	background: #33bbcc;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
}

.more-link:link,
.more-link:visited {
	color: #fff;
}

.more-link:hover,
.more-link:active {
	background: #303030;
	text-decoration: none;
}

.more-link::after {
	content: " \00BB";
}

.entry-content > .more-link {
	text-decoration: none;
}
