.primary-navigation-wrap {
	position: relative;
	border-top: 1px solid rgba(0,0,0,0.15);
}

.main-navigation-toggle {
	display: none;
}

.main-navigation-menu {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu li {
	float: left;
	margin: 0 1.2em 0 0;
}

.main-navigation-menu a {
	display: block;
	margin: -1px 0 0;
	padding: 0.6em 0.8em 0.8em;
	border-top: 0.3em solid transparent;
	text-decoration: none;
	font-size: 17px;
	font-size: 1.0625rem;
	font-family: 'Titillium Web', Tahoma, Arial;
}

.main-navigation-menu > .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.5em 0 0 0.3em;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu a:link,
.main-navigation-menu a:visited {
	color: #303030;
	text-decoration: none;
}

.main-navigation-menu a:hover,
.main-navigation-menu a:active {
	color: rgba(0,0,0,0.5);
}

.main-navigation-menu ul {
	position: absolute;
	z-index: 99;
	display: none;
	margin: 0;
	padding: 0;
	background: #303030;
	color: #fff;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu ul li {
	position: relative;
	float: none;
	margin: 0;
}

.main-navigation-menu ul a {
	margin: 0;
	padding: 1em;
	min-width: 250px;
	min-width: 16rem;
	border-top: none;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	font-size: 13px;
	font-size: 0.8125rem;
}

.main-navigation-menu ul a:link,
.main-navigation-menu ul a:visited {
	color: #fff;
}

.main-navigation-menu ul a:hover,
.main-navigation-menu ul a:active {
	background: rgba(255,255,255,0.1);
}

.main-navigation-menu ul .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.3em 0 0 0.3em;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 14px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu li ul ul {
	top: 0;
	left: 100%;
}

.main-navigation-menu li.menu-item-has-children:hover > ul,
.main-navigation-menu li.page_item_has_children:hover > ul,
.main-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
	display: block;
}

.main-navigation-menu > li.current-menu-item > a {
	border-color: #303030;
}

.main-navigation-menu ul li.current-menu-item > a {
	text-decoration: underline;
}

.main-navigation-menu ul li.current-menu-item > a:after {
	text-decoration: none;
}

/* Mega Menu Styling */
.mega-menu-content .mega-menu-widget a:link,
.mega-menu-content .mega-menu-widget a:visited {
	color: #fff;
}

.mega-menu-content .mega-menu-widget a:hover,
.mega-menu-content .mega-menu-widget a:active {
	color: rgba(255,255,255,0.6);
}

.mega-menu-content .widget_meta ul li,
.mega-menu-content .widget_pages ul li,
.mega-menu-content .widget_categories ul li,
.mega-menu-content .widget_archive ul li {
	display: block;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.mega-menu-content .widget_meta ul li a,
.mega-menu-content .widget_pages ul li a,
.mega-menu-content .widget_categories ul li a,
.mega-menu-content .widget_archive ul li a {
	display: block;
	padding: 1em;
	font-size: 14px;
	font-size: 0.875rem;
}

.mega-menu-content .widget_meta ul li a:hover,
.mega-menu-content .widget_pages ul li a:hover,
.mega-menu-content .widget_categories ul li a:hover,
.mega-menu-content .widget_archive ul li a:hover {
	background: rgba(255,255,255,0.1);
	color: #fff;
}

.mega-menu-content .mega-menu-widget .entry-meta,
.mega-menu-content .mega-menu-widget .entry-meta span:before {
	color: rgba(0,0,0,0.15);
}
