/* Sidebar Left Layout */
.sidebar-left .content-area {
	float: right;
	padding-right: 0;
	padding-left: 4em;
}

.sidebar-left .sidebar {
	float: left;
}

@media only screen and (max-width: 70em) {
	.sidebar-left .content-area {
		padding-right: 0;
		padding-left: 3em;
	}
}

@media only screen and (max-width: 60em) {
	.sidebar-left .content-area {
		padding: 0;
	}
}
