.widget {
	margin: 0 0 3em 0;
	padding: 0;
	max-width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1em 0;
}

.widget-title {
	display: block;
	margin: 0;
	padding: 0;
	color: #303030;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Amaranth', Tahoma, Arial;
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget-title a:link,
.widget-title a:visited  {
	color: #303030;
}

.widget-title a:hover,
.widget-title a:active  {
	text-decoration: underline;
}

/* Theme Search Widget */
.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 1.5em 0.5em 0.7em;
	min-width: 300px;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.65em 0.75em 0 0.2em;
	border: none;
	cursor: pointer;
}

.search-form .search-submit .genericon-search {
	display: inline-block;
	padding: 0.05em 0 0.55em 0.45em;
	content: '\f400';
	vertical-align: middle;
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
