.widget {
	margin: 0 0 3em 0;
	padding: 0;
	max-width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1em 0;
}

.widget-title,
.is-style-widget-title {
	display: block;
	margin: 0;
	padding: 0;
	@include color(--widget-title-color);
	@include font-size(20);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

.widget-title a:link,
.widget-title a:visited {
	@include color(--widget-title-color);
}

.widget-title a:hover,
.widget-title a:active {
	text-decoration: underline;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
